<div id = "@nodeId" class = "entry">
	<h4 id = "@entryTitleId" class = "entryTitleText" style="@titleStyle">@title</h4>
	@nodeMenu
	<div style = "padding:4px;background-color:#AAAAAA;">
		<div class = "entryTitleDescription" style = "padding:6px;background-color:#FFCCCC;@fontStyle@descriptionStyle">@entryDescription</div>
	</div>
	<div id = "lineContainer" style = "background-color:#308030;padding:2px;">
		<div id="nodeMenuContainer" class = "entryNodeMenuContainer">@nodeMenu</div>
		<div id = "codeBlock" class = "codeBlock" style = "background-color: #AAFFAA;font-weight: bold;color: #704070;padding:10px;">
			@codeBlock
		</div>
	</div>
</div>