<div id = "editMenu" class = "editMenu">
	<div id = "buttonWrapper" class = "editButtonWrapper"><div id = "buttonAdd" class = "editMenuButtonSmall"><span class="glyphicon glyphicon-plus"></span></div></div>
	<div id = "buttonWrapper" class = "editButtonWrapper"><div id = "buttonEdit" class = "editMenuButtonSmall"><span class="glyphicon glyphicon-edit"></span></div></div>
	<div id = "buttonWrapper" class = "editButtonWrapper"><div id = "buttonMoveUp" class = "editMenuButtonSmall"><span class="glyphicon glyphicon-circle-arrow-up"></span></div></div>
	<div id = "buttonWrapper" class = "editButtonWrapper"><div id = "buttonMoveDown" class = "editMenuButtonSmall"><span class="glyphicon glyphicon-circle-arrow-down"></span></div></div>
	<div id = "buttonWrapper" class = "editButtonWrapper"><div id = "buttonDelete" class = "editMenuButtonSmall"><span class="glyphicon glyphicon-trash"></span></div></div>
	<div id = "buttonWrapper" class = "editButtonWrapper"><div id = "buttonOk" class = "editMenuButtonSmall"><span class="glyphicon glyphicon-ok"></span></div></div>
	<div id = "buttonWrapper" class = "editButtonWrapper"><div id = "buttonCancel" class = "editMenuButtonSmall"><span class="glyphicon glyphicon-remove"></span></div></div>		
</div>